/* fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

/* base style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* first step */
.container{
    width:100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
 
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    margin: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 30px;
}

/* second step */
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 50px;
}
.col-1 h1{
    font-size: 50px;
}
.col-1 p{
    font-weight: 700;
}
button{
    width: 100px;
    padding: 12px 10px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: #fff;
    background:linear-gradient(#fb5283,#ff3527);
    transition:width 0.2s
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
}
.col-2{
    position: relative;
    flex-basis: 40%;
    align-items: center;
    display: flex;
}